@use "../styles/tokens" as t;

.head {
	margin-bottom: 16px;

	h2 {
		font-size: 1.28rem;
	}

	p {
		font-size: 0.88rem;
		margin-bottom: 0;
		white-space: pre-line;
	}
}

.eyebrow {
	@include t.eyebrow;
}
